/target
.vs/
.vscode/
.idea/
*.swp
*.iml

# Ignore log files and databases
*.log
*.sql
*.sqlite
*.db

.env*

# Ignore build artifacts and temporary files
/cache
/out

# Node dependencies
/node_modules/
/fork-blockchain/node_modules/

# Hardhat fork outputs
/fork-blockchain/artifacts/
/fork-blockchain/cache/
/fork-blockchain/dist/
/fork-blockchain/coverage/